<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/styles.css">
        <title>Backyard Bridge</title>
    </head>

    <body>
        <header>

        </header>

        <div class="content">

            <h1>Backyard Bridge</h1>

            <button id="rulesButton" onclick="showRules()" style="display: block;">Rules</button>

            <p class="name-container">
                Your name:
                <span id="ws-id" class="hidden"></span>
                <form id="nameForm" onsubmit="updateUsername(event)" class="name-form">
                    <input type="text" id="nameInput" placeholder="Enter your name" maxlength="20" class="name-input" />

                    <button id="changeName" type="submit" disabled>Change name</button>

                </form>
            </p>

            <p id="usersHeader">Active players:</p>
            <ul id="users"></ul>

            <div class="preLobbyControls">

                <div class="joinLobbyControls">
                    <input type="text" id="lobbyInput" placeholder="Enter lobby ID" />
                    <button id="joinLobbyButton" onclick="joinLobby()" disabled>Join Lobby</button>
                </div>

                <div class="errorMessage">
                    <div id="errorMessage"></div>
                </div>

                <button id="createLobbyButton" onclick="createLobby()">Create Lobby</button>

                <div id="lobbyControls" style="display: none;">

                    <h2 id="lobbyMessage"></h2>

                    <div class="buttonContainer">
                        <button id="startButton" onclick="startGame()" style="display: none;" disabled>Start Game</button>

                        <button id="leaveButton" onclick="leaveLobby()" style="display: none;">Leave Lobby</button>
                    </div>

                </div>

            </div>

            <div id="currentCards" style="display: none;">

                <div class="current-card" id="leftCard" onclick="drawCard()">
                    <img src="/static/cards/closed_card.png" alt="closed_card.png" />

                    <div id="cards-left">
                        <p>Cards left:</p>
                        <p class="deck-len" id="cardsLeft"></p>
                    </div>

                </div>

                <div class="current-card" id="rightCard" onclick="skip_turn()"></div>

            </div>

            <div id="popup" class="popup-window">
                <div class="popup-grid">
                    <div class="popup-cell-1">
                        <p>♠</p>
                    </div>
                    <div class="popup-cell-2">
                        <p>♥</p>
                    </div>
                    <div class="popup-cell-3">
                        <p>♦</p>
                    </div>
                    <div class="popup-cell-4">
                        <p>♣</p>
                    </div>
                </div>
            </div>

            <div id="rules-widget" class="rules-widget-window" style="display: none;">
                <div class="rules-widget-content">
                    <div class="rules-widget-header">
                        <span id="closeRulesWidget" class="close-rules-widget">&times;</span>
                    </div>
                    <div class="rules-widget-grid">
                        <div class="rules-column rules-column-en">
                            <p></p>
                        </div>
                        <div class="rules-column rules-column-ru">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer>
            <div id="playerContainer">

                <p class="turnText" id="turnText"></p>

                <div id="playerHand"></div>

            </div>
        </footer>

    </body>

    <script>
        let ws;
        let lobbyId;
        let userId = Date.now().toString();
        let userName = userId;
        let isHost = false;
        let currentPlayer = '';
        let eventHandlersAdded = false;


        const elements = {
            wsId: document.querySelector("#ws-id"),
            nameForm: document.getElementById("nameForm"),
            createLobbyButton: document.getElementById("createLobbyButton"),
            joinLobbyInput: document.getElementById("lobbyInput"),
            joinLobbyButton: document.getElementById("joinLobbyButton"),
            startButton: document.getElementById("startButton"),
            leaveLobbyButton: document.getElementById("leaveButton"),
            errorMessage: document.getElementById("errorMessage"),
            lobbyControls: document.getElementById("lobbyControls"),
            lobbyMessage: document.getElementById("lobbyMessage"),
            usersHeader: document.getElementById("usersHeader"),
            usersList: document.getElementById("users"),
            currentCards: document.getElementById("currentCards"),
            nameInput: document.getElementById("nameInput"),
            playerHand: document.getElementById("playerHand"),
            turnText: document.getElementById("turnText"),
            cardsLeft: document.getElementById("cardsLeft"),
            rightCard: document.getElementById("rightCard"),
            leftCard: document.getElementById("leftCard"),
            popUp: document.getElementById('popup'),
            rulesWidget: document.getElementById('rules-widget'),
        };


        elements.wsId.textContent = userName;
        elements.nameInput.placeholder = userName;


        elements.joinLobbyInput.addEventListener('input', function () {
            elements.joinLobbyButton.disabled = !elements.joinLobbyInput.value.trim();
        });

        elements.nameInput.addEventListener('input', function () {
            const inputText = elements.nameInput.value.trim();
            document.getElementById('changeName').disabled = inputText.length === 0;
        });


        function updateUsername(event) {
            event.preventDefault();

            const newName = elements.nameInput.value.trim();

            if (newName) {
                userName = newName;
                elements.wsId.textContent = userName;
                elements.nameForm.style.display = "none";
                elements.wsId.style.display = "block";
            }
        }


        function setLobbyUI(isHostView) {
            elements.wsId.style.display = "block";
            elements.createLobbyButton.style.display = 'none';
            elements.nameForm.style.display = "none";
            elements.joinLobbyInput.style.display = 'none';
            elements.joinLobbyButton.style.display = 'none';
            elements.lobbyControls.style.display = "block";
            elements.leaveLobbyButton.style.display = "inline";
            elements.startButton.style.display = isHostView ? "block" : "none";
            isHost = isHostView;
        }


        function createLobby() {
            setLobbyUI(true);
            initializeWebSocket('create_lobby', {user_name: userName});
        }


        async function joinLobby() {
            const inputLobbyId = elements.joinLobbyInput.value.trim();
            if (!inputLobbyId) return;

            const response = await fetch(`/check_lobby/${inputLobbyId}`);
            const data = await response.json();

            if (data.exists) {
                setLobbyUI(false);
                initializeWebSocket('join_lobby', {user_name: userName, lobby_id: inputLobbyId});
            } else {
                showError("The lobby doesn't exist or no slots");
            }
        }


        function initializeWebSocket(type, message) {
            if (ws) {
                ws.close(1000);
            }

            ws = new WebSocket(`ws://localhost:8000/ws/lobby/${userId}`);

            ws.onopen = () => ws.send(JSON.stringify({type, ...message}));

            ws.onmessage = handleWebSocketMessage;
        }


        function handleWebSocketMessage(event) {
            const data = JSON.parse(event.data);

            switch (data.type) {
                case 'lobby_created':
                    lobbyId = data.lobby_id;
                    elements.lobbyMessage.textContent = `You have created a lobby with ID: ${lobbyId}`;
                    break;

                case 'joined_lobby':
                    lobbyId = data.lobby_id;
                    elements.lobbyMessage.textContent = `You have joined the lobby with ID: ${lobbyId}`;
                    updateUsers(data.users, false);
                    break;

                case 'users_update':
                    updateUsers(data.users, data.is_host);
                    break;

                case 'start_game':
                    startGame();
                    break;

                case 'lobby_closed':
                    returnToMainPage();
                    break;

                case 'toggle_start_button':
                    toggleStartButton(data.enable);
                    break;

                case 'game_data':
                    console.log(data)
                    updatePlayerHand(data.hand, data.current_player, data.playable_cards);
                    updateCurrentCards(data.current_card, data.deck_len, data.chosen_suit, data.player_options);
                    break;

                case 'whose_turn':
                    whoseTurn(data.msg, data.current_player);
                    break;

                case 'first_turn':
                    firstTurn(data.current_card);
                    break;
            }
        }


        function showError(message) {
            elements.errorMessage.textContent = message;
            elements.errorMessage.style.display = "block";

            setTimeout(() => elements.errorMessage.style.display = "none", 2000);
        }


        function startGame() {
            if (isHost) {
                ws.send(JSON.stringify({type: 'start_game'}));
            }

            ws = new WebSocket(`ws://localhost:8000/ws/game/${lobbyId}/${userId}`);

            ws.onopen = () => ws.send(JSON.stringify({type: 'game_started'}));
            ws.onmessage = function (event) {
                handleWebSocketMessage(event);
            };

            elements.lobbyControls.style.display = "none";
            elements.currentCards.style.display = "flex";
        }


        function leaveLobby() {
            ws.send(JSON.stringify({type: 'close_lobby', lobby_id: lobbyId}));

            returnToMainPage();
        }


        function returnToMainPage() {
            elements.lobbyControls.style.display = "none";
            elements.createLobbyButton.style.display = 'inline';
            elements.nameForm.style.display = "none";
            elements.joinLobbyInput.style.display = 'inline';
            elements.joinLobbyInput.value = '';
            elements.joinLobbyButton.style.display = 'inline';
            elements.joinLobbyButton.disabled = true;
            elements.leaveLobbyButton.style.display = "none";
            elements.errorMessage.style.display = "none";
            elements.currentCards.style.display = "none";
            elements.usersHeader.style.display = 'none';
            elements.usersList.style.display = 'none';
        }


        function updateUsers(users, isHost) {
            elements.usersList.style.display = 'block';
            elements.usersList.innerHTML = '';
            elements.usersHeader.style.display = 'block';

            users.forEach(user => {
                const userElement = document.createElement("li");
                userElement.textContent = user.user_name;
                elements.usersList.appendChild(userElement);
            });

            if (isHost) toggleStartButton(true);
        }


        function toggleStartButton(enable) {
            elements.startButton.disabled = !enable;
        }


        function updatePlayerHand(hand, Player, playableCards) {
            elements.playerHand.innerHTML = '';

            const containerWidth = elements.playerHand.offsetWidth;
            const cardWidth = 90;
            const gap = 5;

            const totalCardsWidth = hand.length * (cardWidth + gap) - gap;
            let startLeftPosition = 0

            let overlap = 0;
            if (totalCardsWidth > containerWidth) {
                overlap = (totalCardsWidth - containerWidth) / (hand.length - 1);
                overlap = Math.min(overlap, cardWidth - gap);
            } else {
                startLeftPosition += (containerWidth - totalCardsWidth + gap) / 2;
            }

            hand.forEach((card, index) => {
                const cardDiv = document.createElement('div');
                cardDiv.classList.add('card');
                cardDiv.style.left = `${startLeftPosition + index * (cardWidth - overlap) + gap * index}px`;

                const isPlayable = playableCards.some(playableCard =>
                    playableCard.rank === card.rank && playableCard.suit === card.suit
                );

                if (Player && isPlayable) {
                    cardDiv.classList.add('highlighted-card-img');
                    cardDiv.style.bottom = '90px';
                    cardDiv.onclick = () => playCard(card);
                    cardDiv.style.cursor = 'pointer';
                }

                const cardImage = document.createElement('img');
                const cardName = `${card.rank}_${card.suit}`;
                cardImage.src = `/static/cards/${cardName}.png`;
                cardImage.alt = cardName;

                cardDiv.appendChild(cardImage);
                elements.playerHand.appendChild(cardDiv);
            });
        }


        function whoseTurn(message, current_player) {
            elements.turnText.textContent = `${message}`;
            currentPlayer = current_player;
        }


        function updateCurrentCards(currentCard, deckLen, chosenSuit, playerOptions) {
            elements.cardsLeft.textContent = `${deckLen}`;

            const oldImage = elements.rightCard.querySelector('img');
            if (oldImage) oldImage.remove();

            const newRightCardImage = document.createElement('img');
            if (chosenSuit) {
                newRightCardImage.src = `/static/cards/${chosenSuit.suit}.png`;
                newRightCardImage.alt = `${chosenSuit.suit}`;
            } else {
                newRightCardImage.src = `/static/cards/${currentCard.rank}_${currentCard.suit}.png`;
                newRightCardImage.alt = `${currentCard.rank}_${currentCard.suit}`;
            }

            elements.rightCard.appendChild(newRightCardImage);
            checkCurrentPlayerOptions(playerOptions)
        }


        async function playCard(card) {
            const cardDiv = [...elements.playerHand.children].find(cardElement => {
                const img = cardElement.querySelector('img');
                return img.alt === `${card.rank}_${card.suit}`;
            });

            const startRect = cardDiv.getBoundingClientRect();
            const endRect = elements.rightCard.getBoundingClientRect();
            const cardClone = cardDiv.cloneNode(true);

            document.body.appendChild(cardClone);

            cardClone.style.position = 'absolute';
            cardClone.style.left = `${startRect.left}px`;
            cardClone.style.top = `${startRect.top}px`;
            cardClone.style.width = `${startRect.width}px`;
            cardClone.style.height = `${startRect.height}px`;
            cardClone.style.transition = 'all 0.5s ease';

            setTimeout(() => {
                cardDiv.style.display = 'none';
                cardClone.style.left = `${endRect.left}px`;
                cardClone.style.top = `${endRect.top}px`;
                cardClone.style.width = `${endRect.width}px`;
                cardClone.style.height = `${endRect.height}px`;
            }, 50);

            await new Promise((resolve) => {
                cardClone.addEventListener('transitionend', () => {
                    cardClone.remove();
                    resolve();
                });
            });

            const oldImage = elements.rightCard.querySelector('img');
            if (oldImage) oldImage.remove();

            const newCardImage = document.createElement('img');
            newCardImage.src = `/static/cards/${card.rank}_${card.suit}.png`;
            newCardImage.alt = `${card.rank}_${card.suit}`;

            elements.rightCard.appendChild(newCardImage);

            if (card.rank === 'J') {
                showPopup(card);
            } else {
                ws.send(JSON.stringify({ type: 'played_card', card: card, chosen_suit: null }));
            }
        }


        function drawCard() {
            if (currentPlayer === userId) {
                const startRect = elements.leftCard.getBoundingClientRect();
                const cardClone = elements.leftCard.querySelector('img').cloneNode(true);

                document.body.appendChild(cardClone);

                cardClone.style.position = 'absolute';
                cardClone.style.left = `${startRect.left}px`;
                cardClone.style.top = `${startRect.top}px`;
                cardClone.style.width = `${startRect.width}px`;
                cardClone.style.height = `${startRect.height}px`;
                cardClone.style.transition = 'all 0.5s ease';

                setTimeout(() => {
                    const endRect = elements.playerHand.getBoundingClientRect();
                    const centerX = endRect.left + (endRect.width / 2) - (startRect.width / 2);
                    const centerY = endRect.bottom - startRect.height - 10;

                    cardClone.style.left = `${centerX}px`;
                    cardClone.style.top = `${centerY}px`;
                    cardClone.style.width = `${startRect.width}px`;
                    cardClone.style.height = `${startRect.height}px`;
                }, 50);

                cardClone.addEventListener('transitionend', () => {
                    cardClone.remove();
                });

                ws.send(JSON.stringify({type: 'drew_card'}));
            }
        }


        function skip_turn() {
            if (currentPlayer === userId) {
                ws.send(JSON.stringify({type: 'skip_turn'}));
            }
        }


        function colorSkipTurn() {
            const rightCardImage = document.querySelector('#rightCard img');
            if (currentPlayer === userId) {
                rightCardImage.classList.add('highlighted-card-img');
            }
        }


        function colorDrawCard() {
            const leftCardImage = document.querySelector('#leftCard img');
            if (currentPlayer === userId) {
                leftCardImage.classList.add('highlighted-card-img');
            }
        }


        function firstTurn(card) {
            if (currentPlayer === userId) {
                if (card.rank === 'J') {
                    showPopup(card)
                } else {
                    ws.send(JSON.stringify({type: 'played_card', card: card, chosen_suit: null }));
                }
            }
        }


        function showPopup(card) {
            elements.popUp.style.display = 'block';

            const playerCards = elements.playerHand.querySelectorAll('.card');
            playerCards.forEach(cardDiv => {
                cardDiv.onclick = null;
                cardDiv.style.cursor = 'default';
                cardDiv.style.bottom = '0';
            });

            const suits = ['♠', '♥', '♦', '♣'];
            const cells = document.querySelectorAll('.popup-grid div');

            cells.forEach((cell, index) => {
                let newCell = cell.cloneNode(true);
                cell.replaceWith(newCell);

                newCell.addEventListener('click', function() {
                    const selectedSuit = suits[index];

                    elements.popUp.style.display = 'none';

                    ws.send(JSON.stringify({ type: 'played_card', card: card, chosen_suit: selectedSuit }));
                });
            });
        }


        function checkCurrentPlayerOptions(playerOptions) {
            setDefaultDrawCard();
            setDefaultSkipTurn();

            if (currentPlayer === userId) {
                if (playerOptions.must_draw) {
                    colorDrawCard();
                    elements.leftCard.style.cursor = 'pointer';
                    elements.leftCard.onclick = drawCard;
                } else if (playerOptions.must_skip) {
                    colorSkipTurn();
                    elements.rightCard.style.cursor = 'pointer';
                    elements.rightCard.onclick = skip_turn;
                } else {
                    if (playerOptions.can_draw) {
                        elements.leftCard.style.cursor = 'pointer';
                        elements.leftCard.onclick = drawCard;
                    }
                    if (playerOptions.can_skip) {
                        elements.rightCard.style.cursor = 'pointer';
                        elements.rightCard.onclick = skip_turn;
                    }
                }
            }
        }


        function setDefaultDrawCard() {
            const leftCardImage = document.querySelector('#leftCard img');
            if (currentPlayer === userId && leftCardImage) {
                leftCardImage.classList.remove('highlighted-card-img');
            }
            elements.leftCard.style.cursor = 'default';
            elements.leftCard.onclick = null;
        }


        function setDefaultSkipTurn() {
            const rightCardImage = document.querySelector('#rightCard img');
            if (currentPlayer === userId && rightCardImage) {
                rightCardImage.classList.remove('highlighted-card-img');
            }
            elements.rightCard.style.cursor = 'default';
            elements.rightCard.onclick = null;
        }


        async function showRules() {
            const response = await fetch('/rules');
            const data = await response.json();

            document.querySelector('.rules-column-ru p').innerHTML = data.rules_ru;
            document.querySelector('.rules-column-en p').innerHTML = data.rules_en;

            elements.rulesWidget.style.display = 'flex';

            if (!eventHandlersAdded) {
                document.getElementById('closeRulesWidget').addEventListener('click', closeRulesWidget);
                document.getElementById('rules-widget').addEventListener('click', function(event) {
                    if (event.target === elements.rulesWidget) {
                        closeRulesWidget();
                    }
                });
                document.addEventListener('keydown', function(event) {
                    if (event.key === 'Escape') {
                        closeRulesWidget();
                    }
                });

                eventHandlersAdded = true;
            }
        }


        function closeRulesWidget() {
            elements.rulesWidget.style.display = 'none';
            document.querySelector('.rules-column-ru p').textContent = '';
            document.querySelector('.rules-column-en p').textContent = '';
        }
    </script>

</html>
